<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>books detail</title>
</head>
<body>
    <ol>
        <li>{{book.title}}</li>
        <li>{{book.slug}}</li>
        <li>{{book.isbn}}</li>
        <li>{{book.genre}}</li>
        <li>{{book.count|add:1}}</li>
        <li>{{book.author}}</li>
        <li>{{time}}</li>
    </ol>
</body>
</html>